<div class="about">
  <h1>About me</h1>

  <p>
    <%= image_tag "about_photo.jpg", :style => "height: 60vh; width: auto; margin-bottom: 2rem;"  %><br>
    Hi everyone! Welcome to MyAntwerpApp, where I love to talk about my favorite restaurants and foodspots in Antwerp. <br>
    My name is Eline and I'm a twenty-something woman who lives in Antwerp with her boyfriend. I love trying out new places and enjoy sharing this on my instagram page @antwerpfoodsta.
  </p>
</div>
