<body style='overflow: hidden !important;'>
  <div class="home_two">
    <div class="section one"> 
        <%= link_to "Guides", posts_guides_path%>
    </div>

    <div class="section two">
      <%= link_to "Reviews", posts_reviews_path%>
    </div>

    <div class="section three">
      <%= link_to "Interviews", posts_interviews_path%>
    </div>
  </div>
</body>