.home_two {
  display: flex;
}

.section {
  text-align: center;
  width: 33.33333333vw;
  height: 90vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &.one {
  background-image: url("dylan.jpg");
  }

  &.two {
  background-image: url("colton.jpg");
  }


  &.three {
  background-image: url("holland.jpg");
  }

  &:hover {
    opacity: 0.5;
  }
}

.section > a {
  display: inline-block;
  padding-top: 35vh;
  color: #ffffff;
  font-size: 3rem;
  width: 33.3vw;
  height: 100vh;

  &:hover {
  color: #f59e89;
  }
}

@media screen and (max-width: 600px) {
  .section {
    width: 100vw;
    height: 26.666vh;

    &.one {
      background-position: 10% 30%;
    }

    &.three {
      background-position: 10% 45%;
    }
  }

  .home_two {
    flex-direction: column;
  }

  .page-content {
    margin-top: 20vh !important;  
  }

  .section > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 26.666vh;
    padding-top: 0;
  
    &:hover {
    color: #f59e89;
    }
  }
}