.saved-posts-grid {
  display: grid;
  width: 90vw;
  margin: auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 30px;
}

.one-saved-post {
  width: 300px;
  margin-bottom: 5rem;

  > .photo {
    width: 300px;
    max-height: 300px;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  > a {
    font-size: 1.5rem;
    color: #FF6864;
  }

  &:hover {
    opacity: 0.6;
  }
}